* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #000430;
    --secondary-background: #171c48;
    --text-color: #fff;
    --purple-color: #828dff;
    --teal-color: #24feee;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
}

.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple-color);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.details {
    width: 100%;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: var(--secondary-background);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: var(--teal-color);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background: var(--purple-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form {
    margin: 60px 10px;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 16px;
    background: var(--secondary-background);
    border: 1px solid var(--purple-color);
    border-radius: 10px;
    outline: none;
    color: var(--text-color);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem {
    display: flex;
    background-color: var(--secondary-background);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

.completed p {
    text-decoration: line-through;
    color: var(--teal-color);
}

.task.completed {
    text-decoration: line-through;
    color: var(--teal-color);
}

.taskItem i {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
}